<div class="row">
    <div class="row col-md-6 ">
        <div class="row">
            <div class=" d-flex m-2 ">
                <div class="card mt-4 m-4" style="width: 18rem;height:35rem; ">
                    <img class="card-img-top"
                        src="https://thumbs.dreamstime.com/b/dslr-camera-13618571.jpg"
                        alt="Card image cap" style="height:25rem;">
                    <div class="card-body">
                        <h5 class="card-title">Camera</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a routerLink="camera" class="btn btn-primary">Details</a>
                    </div>
                </div>

                <div class="card m-4" style="width: 18rem;height:35rem;">
                    <img class="card-img-top "
                        src="https://www.audemarspiguet.com/content/dam/ap/com/homepage/2022/complication-push/HP_BlueCeramic_1920x1676.jpg.transform.apfw.jpg"
                        alt="Card image cap" style="height: 32rem;">
                    <div class="card-body">
                        <h5 class="card-title">watches</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a routerLink="watches" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div class="col-md-4 border rounded " style="margin-top: 2%;">
        <!-- <div class="container m-xxl-5 border align-content-ceter"> -->
        <router-outlet></router-outlet>
        <!-- </div> -->
    </div>
</div>
