<div class="row">
    <div class="row col-md-6 ">
        <div class="row">
            <div class=" d-flex m-2 ">
                <div class="card mt-4 m-4" style="width: 18rem;height:25rem; ">
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=600"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Laptop</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a routerLink="laptop" class="btn btn-primary">Details</a>
                    </div>
                </div>

                <div class="card m-4" style="width: 18rem;height:25rem;">
                    <img class="card-img-top "
                        src="https://images.pexels.com/photos/8622844/pexels-photo-8622844.jpeg?auto=compress&cs=tinysrgb&w=600"
                        alt="Card image cap" style="height: 12rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tablet</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a routerLink="tablet" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex m-2">

            <div class="card mt-4 m-4" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKRFOcwrQFD7YCfS--PdgzoVm8FJjJ5QQtQ1AqSsBY&s"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">TV</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="tv" class="btn btn-primary">Details</a>
                </div>
            </div>

            <div class="card mt-4 m-4" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://c1.wallpaperflare.com/preview/660/454/364/washing-machine-laundry-tumble-drier-housework.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">washing-machine</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="washing-machine" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 border rounded " style="margin-top: 2%;">
        <!-- <div class="container m-xxl-5 border align-content-center"> -->
        <router-outlet></router-outlet>
        <!-- </div> -->
    </div>
</div>