<!-- <div class="container" >

    <h2>This is parent components data comming from child</h2>
<ul *ngFor="let a of arrayFood">
    <li>{{a}}</li>
</ul>
</div>
<app-child-one (myFood)="demo($event)"></app-child-one> -->


<div class="container  bg-warning text-dark" style="height: 75px">
    <h2 class="text-center">This is parent components & data comming from child</h2>
</div>
<div class="container" style="height: 200px;">
    <ul *ngFor="let a of newmobile">
         
        <h4> Mobile Name:{{a.name}} <br> </h4>
        <h4> Mobile price: {{a.price}} <br> </h4>
        
    </ul>

</div> <!--for clear buttton-->
<div class="container p-1 mb-1 bg-secondary text-white " style="height: 50px; text-align: center;">
    For clear click here => <button (click)="clear()" class="btn btn-info">Clear </button>
</div>
<app-child-one (getmobiles)="mobiledetais($event)"></app-child-one>

