<!-- <div class="box container">
    User Name: <strong>{{username}}</strong>
    <br>
    <br>
    <input type="text" name="" placeholder="Update Name" #uname id="">
    <button (click)="updateUserName(uname)">Update</button>
</div> -->

<!-- name:{{username.name}}
price:{{username.price}} -->

<h2>compo1</h2>
<table class=" table table-bordered  table-dark table-hover">
   
    <thead class=" table table-light">
     <th>
         Name
     </th>
     <th>Price</th>
     <th>Camera</th>
     <th>RAM</th>
    </thead>
    <tbody>
        <tr *ngFor="let a of username">
            <td>{{a.name}}</td>
            <td>{{a.price}}</td>
            <td>{{a.camera}}</td>
            <td>{{a.RAM}}</td>
        </tr>
    </tbody>
 </table>