<p>react-form-assign2 works!</p>
<div class="container border mainbg">
    <div class=" row justify-content-center border">
        <div class="col-md-6 text-left rounded py-2 ">
            <div class="h4 text-center text-dark">Reactive Form Learning

                <form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()" class="bg-dark p-2 text-white shadow-lg">
                    
                        <div class="form-group row mb-3">

                            <label class="col-sm-3 pt-1" for="">Project Name</label>
                            <div class="col-sm-8 "> <input type="text" class=" form-control text-uppercase"
                                    formControlName="projectname" placeholder="Enter project Name">

                            </div>
                        
                        <div class="form-group  row mb-3">
                            <label class="col-sm-3 pt-1">Email </label>
                            <div class="col-sm-8 ">
                                <input type="email" name="email" id="" class=" form-control" formControlName="email"
                                    placeholder="Enter Email Address">
                            </div>
                        </div>
                        <div class="form-group  row mb-3 h6">
                            <label class="col-sm-3 pt-1">Project Status</label>
                            <div class="col-sm-8 ">
                                <select class="form-control" formControlName="Status">
                                    <option value="Stable">Stable</option>
                                    <option value="Critical">Critical</option>
                                    <option value="Finished">Finished</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div >
                                <button class="btn btn-success form-control" [disabled]="btndisable">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>